<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Modify User</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <p>Logged in as {{this.usernameForPlaceholder | uppercase}}</p>
</ion-item>
  <form novalidate #modifyUserFormId [formGroup] = "modifyUserForm" class="modifyUserForm" (submit)="updateUserInfo(this.user)">
    <ion-item>
      <ion-label>Enter new username: </ion-label>
      <ion-input formControlName="userName" class="modifyUserInput" [class.invalid]="!modifyUserForm.controls.userName.valid && (modifyUserForm.controls.userName.dirty || submitAttempt)" [(ngModel)]="this.user.username" placeholder="{{this.usernameForPlaceholder}}" name="usernameField"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Enter new email: </ion-label>
      <ion-input formControlName="email" class="modifyUserInput" [class.invalid]="!modifyUserForm.controls.email.valid && (modifyUserForm.controls.email.dirty || submitAttempt)" [(ngModel)]="this.user.email" placeholder="{{this.emailForPlaceholder}}" type="password" name="emailField"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Enter new password: </ion-label>
      <ion-input formControlName="passWord" class="modifyUserInput" [class.invalid]="!modifyUserForm.controls.passWord.valid && (modifyUserForm.controls.passWord.dirty || submitAttempt)" [(ngModel)]="this.user.password" placeholder="" type="password" name="pwField"></ion-input>
    </ion-item>
    <ion-item *ngIf="!modifyUserForm.controls.passWord.valid  && (modifyUserForm.controls.passWord.dirty || submitAttempt)">
        <p>A valid pw has at least 2 small letters, 1 special <br>character, 1 number and 1 capital letter.</p>
    </ion-item>
    <button class="modifyUserSubmit" ion-button type="submit">Save Changes</button>
    <button class="modifyUserCancel" ion-button type="button" (click)="exit()">Exit Without Saving</button>
  </form>
  <p *ngIf="submitAttempt" style="color: #ea6153;">Please enter at least one valid value.</p>

</ion-content>
