img-modal {

  #delete-icon {

    font-size: 2.5rem;
  }

  .containerDiv {

    padding: 2rem;
    height: fit-content;
    background-color: rgba(170, 105, 21, 0.8);
  }

  .deleteButton {

    float: right;
  }

  .modalImgDiv {

    padding: 1rem;
    background-color: black;
  }

  .modalDesc {

    background-color: color($colors, light);
    border: 1px solid rgb(223, 111, 7);
    padding: 0.7rem;
  }

}
