<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dayline</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form (submit)="upload()">
    <button (click)="browse($event)" clear>
      <ion-icon id="browse-icon" name="add-circle"></ion-icon>
    </button>
    <input (change)="getFile($event)" type="file" placeholder="file" name="fileField" style="display: none" #fileInputField>
    <input [(ngModel)]="this.description" placeholder="description" name="descField">
    <input type="submit" value="Upload">
  </form>

  <ion-list #imgHolder>
    <ion-item *ngFor = "let dlImage of this.imageList">
      <image-box (click)="presentModal(dlImage)" [img] = "dlImage"></image-box>
    </ion-item>
  </ion-list>

  <ion-item id="reminderItem" *ngIf = "this.noImages">
    <p>You have no images on your Dayline!<br>
      Cherish the day and upload a new image!<br>
      ^^</p>
  </ion-item>

</ion-content>
